* {
    font-family: "Pixelify Sans", sans-serif;
}

body {
    background-color: rgb(128, 128, 128);
}

#gameCanvas {
    position: absolute;
    width: 1026px; /* 342 * 3 = 1026 */
    height: 558px; /* 186 * 3 = 558 */
    border: solid black 2px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(66, 66, 66);
    image-rendering: pixelated;
}

